# Ignore OctoberCMS completely.. just keep all plugins and themes related to the project
bootstrap/
config/
modules/
!storage/
storage/*
!storage/app
storage/app/*
!storage/app/media
!storage/app/media/*
vendor/
.well-known/
.htaccess
.env
artisan
index.php

!plugins/
plugins/*
!plugins/wiz/
plugins/wiz/*

!themes/
themes/*
!themes/new-plugin-er/
!themes/new-plugin-er/*

!.gitkeep

# Development plugin specific files
_ide_helper.php

# MacOS files
*.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.log

# PHPStorm
.idea
cmake-build-debug/
*.iws

### PhpStorm Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721
# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr
